.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background-color: #e6e0e0;
    border-radius: 10px;
}

.container h1 {
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom: 1px solid silver;
}

.container form {
    padding: 0 40px;
    box-sizing: border-box;
}

form .date {
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
}

.date input {
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}

.date label {
    position: absolute;
    top: 50%;
    left: 5px;
    color: #444444;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
}

.date span::before {
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 0%;
    height: 2px;
    background: #218342;
    transition: .5s;
}

.date input:focus~label,
.date input:valid~label {
    top: -5px;
    color: #218342;
}


.date input:focus~span::before,
.date input:valid~span::before {
    width: 100%;
}

.forgot-pass {
    margin: -5px 0 20px 5px;
    color: #a6a6a6;
    cursor: pointer;
}

.forgot-pass:hover {
    text-decoration: underline;
}

.btn-login {
    width: 100%;
    height: 50px;
    border: 1px solid;
    background: #218342;
    border-radius: 25px;
    font-size: 16px;
    color: #e9f4fb;
    font-weight: 700;
    cursor: pointer;
    outline: none;
}

.btn-login:hover {
    border-color: #218342;
    transition: .5s;
}

.link-registrarse {
    margin: 30px 0;
    text-align: center;
    font-size: 16px;
    color: #666666
}

.link-registrarse a {
    color: #218342;
    text-decoration: none;
}

.link-registrarse a:hover {
    text-decoration: underline;
}